@charset "utf-8";

.txt-blue {
  color: #3f5efd;
}
.txt-darkBlue {
  color: #030f42;
}
.txt-yellow {
  color: #ffe259;
}
.txt-violet {
  color: #b7a4ed;
}
.txt-pink {
  color: #ee0979;
}
.txt-orange {
  color: #ffa751;
}
.txt-darkGray {
  color: #353535;
}
.bg-blue {
  background-color: #3f5efd;
  color: #fff;
}
.bg-darkBlue {
  background-color: #030f42;
  color: #fff;
}
.bg-yellow {
  background-color: #ffe259;
}
.bg-orange {
  background-color: #ffa751;
  color: #fff;
}
.bg-violet {
  background-color: #b7a4ed;
  color: #fff;
}
.bg-pink {
  background-color: #ee0979;
  color: #fff;
}
.bg-darkGray {
  background-color: #353535;
  color: #fff;
}
.bg-gradient {
  background: linear-gradient(#ffe259, #ffa751);
  font-weight: 600;
  color: #fff;
  transition: 0.5s;
}

.bg-gridient2 {
  background: linear-gradient(200deg, #bdc3c7, #2c3e50);
  font-weight: 600;
  color: #fff;
  transition: 0.5s;
}

.bg-gradient:hover,
.bg-gridient2:hover {
  box-shadow: 2px 4px 10px #717171;
}
.btn:active {
  box-shadow: 2px 4px 4px #e6e6e6 inset;
}

.btn {
  border: none;
  font-size: 14px;
  font-weight: bold;
  height: 25px;
  border-radius: 6px;
  box-shadow: 2px 2px 2px #bfbfbf;
  cursor: pointer;
  margin-right: 10px;
}
.btn-xs {
  width: 50px;
}
.btn-s {
  width: 65px;
}
.btn-m {
  width: 80px;
}
.btn-l {
  width: 95px;
}

.mainTitle {
  font-size: 20px;
  font-weight: bold;
}
.subTitle {
  font-size: 18px;
  font-weight: bold;
}

.scrollbar::-webkit-scrollbar {
  width: 14px;
}
.scrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #a4b6edcb;
  border-radius: 15px;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #9cb0ec;
}
.scrollbar::-webkit-scrollbar-button:start:decrement,
.scrollbar::-webkit-scrollbar-button:end:increment {
  width: 16px;
  height: 16px;
  background: #cccccc;
}

.scrollbar.scroll-vertical {
  overflow-y: auto;
}

.scrollbar.scroll-horizontal {
  overflow-x: auto;
}

.sys .sys__main .sys__content::-webkit-scrollbar {
  width: 14px;
}
.sys .sys__main .sys__content::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
.sys .sys__main .sys__content::-webkit-scrollbar-thumb {
  background-color: #a4b6edcb;
  border-radius: 15px;
}
.sys .sys__main .sys__content::-webkit-scrollbar-thumb:hover {
  background: #9cb0ec;
}
.sys .sys__main .sys__content::-webkit-scrollbar-button:start:decrement,
.sys .sys__main .sys__content::-webkit-scrollbar-button:end:increment {
  width: 16px;
  height: 16px;
  background: #cccccc;
}

.sys .sys__main .sys__content.scroll-vertical {
  overflow-y: auto;
}

.sys .sys__main .sys__content.scroll-horizontal {
  overflow-x: auto;
}
