@charset "utf-8";

.txt-blue {
  color: #3f5efd;
}
.txt-yellow {
  color: #ffe259;
}
.txt-violet {
  color: #b7a4ed;
}
.txt-pink {
  color: #ee0979;
}
.txt-darkGray {
  color: #353535;
}
.bg-blue {
  background-color: #3f5efd;
}
.bg-yellow {
  background-color: #ffe259;
}
.bg-violet {
  background-color: #b7a4ed;
}
.bg-pink {
  background-color: #ee0979;
}
.bg-darkGray {
  background-color: #353535;
}
.gradient {
  background-color: linear-gradient(#ffe259,  #ffa751);
}
.btn {
  font-size: 14px;
  height: 30px;
}
.btn-xs {
  width: 50px;
}
.btn-s {
  width: 65px;
}
.btn-m {
  width: 80px;
}
.btn-l {
  width: 95px;
}
.mainTitle {
  font-size: 20px;
  font-weight: bold;
}
.subTitle {
  font-size: 18px;
  font-weight: bold;
}
