/* total edge area start */
.sys {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  justify-content: flex-start;
}

.sys .sys__header {
  width: 100%;
  height: 58px;
  background-color: rgb(53, 53, 53);
  margin-bottom: 20px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sys .sys__header:after {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: 2px;
  border-bottom: 2px solid rgb(53, 53, 53);
}
.sys .sys__header .hd-logo-box {
  width: 180px;
  background-color: rgb(90, 90, 90);
  box-shadow: 2px 0px 4px #999;
  height: 58px;
  box-sizing: border-box;
  padding-top: 12px;
}
.sys .sys__header .hd-left {
  display: flex;
  flex-direction: row;
}
.sys .sys__header .hd-left .hd-logout {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  padding: 4px;
  box-sizing: border-box;
  background-color: #7d7d7d;
  margin: 6px 10px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.sys .sys__header .hd-left .hd-logout:hover {
  border: 1px solid #e7e7e7;
}
.sys .sys__header .hd-left .hd-logout .fas {
  font-size: 18px;
}
.sys .sys__header .hd-left .hd-search {
  width: 210px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  overflow: hidden;
}
.sys .sys__header .hd-left .hd-search .hd-search__txt,
.sys .sys__header .hd-left .hd-search .hd-search__txt input {
  width: 165px;
  height: 35px;
  border-radius: 4px;
  box-sizing: border-box;
  transform: translateX(150px);
  transition: 0.5s;
  position: relative;
}
.sys .sys__header .hd-left .hd-search .hd-search__txt.fadeIn,
.sys .sys__header .hd-left .hd-search .hd-search__txt input.fadeIn {
  transform: translateX(-150px);
}
.sys .sys__header .hd-left .hd-search .hd-search__txt input {
  padding: 10px;
  border: 1px solid #e7e7e7;
}

.sys .sys__header .hd-left .hd-search .hd-search__btn,
.sys .sys__header .hd-left .hd-search .hd-search__btn button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 1;
}
.sys .sys__header .hd-left .hd-search .hd-search__btn button {
  color: #fff;
  background-color: rgb(53, 53, 53);
  border: 1px solid #7e7e7e;
  border-radius: 4px;
}
.sys .sys__header .hd-left .hd-search .hd-search__btn button .fas {
  color: #fff;
}

.sys .sys__header .hd-logo {
  display: block;
  background-image: url("../assets/images/4LEAF_LOGO_W.png");
  width: 120px;
  height: 35px;
  margin-left: 30px;
  background-size: cover;
}

.sys .sys__main {
  display: flex;
  width: 100%;
  flex-direction: row;
  height: 80vh;
  min-height: 790px;

  align-items: flex-start;
  justify-content: flex-start;
}

.sys .sys__main .sys__menu {
  width: 180px;
  min-width: 180px;
  height: 100%;
  box-shadow: 2px 4px 5px #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.sys .sys__main .sys__content {
  width: 100%;
}

.sys .sys__footer {
  width: 100%;
  height: 100px;
  background: #e7e7e7;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.sys .sys__footer > * {
  margin-right: 40px;
}
.sys .sys__footer .ft-logo {
  display: block;
  background-image: url("../assets/images/4LEAF_LOGO.png");
  width: 120px;
  height: 35px;
  margin-left: 30px;
  background-size: cover;
}
.sys .sys__footer .ft-copyright {
  line-height: 1.2;
  font-size: 14px;
}
/* total edge area finish */

/* content layout start */
.mm {
  display: flex;
  flex-direction: column;

  margin-left: 20px;
}

.mm .mm__header {
  display: flex;
  flex-direction: row;
}

.mm .mh .mh__content {
  width: 100%;
  height: 40px;
  margin-right: 20px;
  margin-bottom: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.mm .mh .mh__content span {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 600;
}

.mm .mm__content,
.mh__content__title {
  display: flex;
  flex-direction: row;
}

.mm .mm__content .mc__col1 {
  width: 300px;
  min-width: 300px;
  height: 72vh;
}

.mm .mm__content .mc__col2 {
  width: 100%;
  min-width: 500px;
  margin-left: 10px;
  margin-right: 20px;
  height: 72vh;
}

.mc .mc__col1 .mc__col1__title {
  width: 100%;
  height: 30px;
  margin-bottom: 5px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.mc .mc__col1 .mc__col1__title span,
.mc .mc__col2 .mc__col2__title span {
  font-size: 18px;
  font-weight: 600;
  margin-left: 10px;
}

.mc .mc__col1 .mc__col1__desc {
  width: 100%;
}

.mc .mc__col2 .mc__col2__title {
  width: 100%;
  height: 30px;
  margin-bottom: 5px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.mc .mc__col2 .mc__col2__desc {
  width: 100%;
}

.menu_list {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

/* content layout finish */

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile :nth-child(1) {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 10px;
  background-size: contain;
}

.profile :nth-child(2),
.profile :nth-child(3),
.profile :nth-child(4) {
  margin-bottom: 5px;
  border-bottom: 1px solid #e7e7e7;
  font-size: 12px;
}
