.sys {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  justify-content: flex-start;
}

.sys .sys__header {
  width: 100%;
  height: 58px;
  background-color: rgb(53, 53, 53);
  margin-bottom: 20px;
  position: relative;
}
.sys .sys__header:after {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: 2px;
  border-bottom: 2px solid rgb(53, 53, 53);
}
.sys .sys__header .hd-logo {
  display: block;
  background-image: url("../assets/images/4LEAF_LOGO_W.png");
  width: 120px;
  height: 35px;
  margin-left: 20px;
  margin-top: 12px;
  background-size: cover;
}

.sys .sys__main {
  display: flex;
  width: 100%;
  flex-direction: row;
  height: 80vh;

  align-items: flex-start;
  justify-content: flex-start;
}

.sys .sys__main .sys__menu {
  width: 180px;
  height: 100%;
  box-shadow: 2px 4px 5px #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.sys .sys__main .sys__content {
  width: 100%;
  background-color: aqua;
}

.sys .sys__footer {
  width: 100%;
  height: 100px;
  background: #e7e7e7;

  align-self: flex-end;
}

.menu_list {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile :nth-child(1) {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 10px;
  background-size: contain;
}

.profile :nth-child(2),
.profile :nth-child(3),
.profile :nth-child(4) {
  margin-bottom: 5px;
  border-bottom: 1px solid #e7e7e7;
  font-size: 12px;
}
