.left-list__box {
  overflow: hidden;
  height: 100%;
  border-radius: 10px;
  box-sizing: border-box;
}

.lb .lb__table {
  width: 100%;
  box-sizing: border-box;
}

.lb .lb__head__box thead th {
  height: 30px;
  padding: 10px;
  line-height: 30px;
  font-weight: 600;
}

.lb .lb__body__box {
  height: calc(100% - 55px);
  width: calc(100% + 14px);
}

.lb .lb__body__box tbody tr {
  width: 100%;
  height: 30px;
  padding: 10px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}

.lb .lb__body__box tbody tr.empty {
  cursor: default;
}

.lb .lb__body__box tbody tr td:nth-child(2):hover {
  text-decoration: underline;
}

.lb .lb__body__box tbody tr:nth-child(2n + 1) {
  background-color: #e3ddf371;
}
