.left-list__box {
  overflow: hidden;
  height: 100%;
  border-radius: 10px;
  box-sizing: border-box;
}

.lb .lb__table {
  width: calc(100% - 14px);
}

.lb .lb__head__box {
  width: calc(100% + 14px);
}

.lb .lb__head__box thead th {
  height: 30px;
  padding: 10px;
  line-height: 30px;
  box-sizing: border-box;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.lb .lb__head__box thead th:nth-child(1),
.lb .lb__body__box tbody td:nth-child(1) {
  max-width: 60px;
  width: 60px;
}

.lb .lb__head__box thead th:nth-child(2),
.lb .lb__body__box tbody td:nth-child(2) {
  max-width: 160px;
  width: 160px;
}

.lb .lb__head__box thead th:nth-child(3),
.lb .lb__body__box tbody td:nth-child(3) {
  max-width: 80px;
  width: 80px;
}

.lb .lb__body__box {
  height: calc(100% - 55px);
  width: calc(100% + 14px);
}

.lb .lb__body__box tbody tr {
  width: 100%;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  box-sizing: border-box;
  word-break: break-all;
}

.lb .lb__body__box tbody tr.empty {
  cursor: default;
}

.lb .lb__body__box tbody tr td {
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  box-sizing: border-box;
  padding: 8px 4px;
}

.lb .lb__body__box tbody tr td:nth-child(2):hover {
  text-decoration: underline;
}

.lb .lb__body__box tbody tr:nth-child(2n + 1) {
  background-color: #e3ddf371;
}
