@media only screen and (max-width: 900px) {
  .login-box {
    display: flex;
    justify-content: center;
  }
  .login-box form {
    position: absolute;
    height: 70vh;
    min-height: 700px;
  }
}
