.mm0103__dataBox {
  margin-top: 30px;
}

.mm0103__dataBox .dataBox__row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 17px;
}

.mm0103__dataBox .dataBox__row .dataBox__col .profile__img {
  width: 100px;
  height: 100px;
}

.mm0103__dataBox .dataBox__row .dataBox__col:first-child {
  width: 200px;
  text-indent: 10px;
}

.mm0103__dataBox .dataBox__row .dataBox__col:first-child span {
  padding-left: 5px;
  border-left: 3px solid #ffa751;
}

.mm0103__dataBox .dataBox__row .dataBox__col:nth-child(2) {
  color: #777;
}
