.mm0103__dataBox {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.mm0103__dataBox .dataBox__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mm0103__dataBox .dataBox__header .data__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mm0103__dataBox .dataBox__header .data__info span:first-child {
  margin: 10px;
  font-weight: 600;
}

.mm0103__dataBox .dataBox__header .data__info span:last-child {
  padding: 5px 20px;
  background-color: rgb(230, 235, 255);
  border-radius: 20px;
  font-size: 14px;
}

.mm0103__dataBox .dataBox__header .data__info {
  border-radius: 50px;
}

.mm0103__dataBox .dataBox__header .profile__img {
  width: 150px;
  height: 150px;
  margin: 10px;
  border-radius: 150px;
  box-shadow: 5px 5px 20px #aeaeae;
}

.mm0103__dataBox .dataBox__body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mm0103__dataBox .dataBox__body .dataBox__col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mm0103__dataBox .dataBox__body .dataBox__col .dataBox__row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 17px;
}

.mm0103__dataBox .dataBox__body .dataBox__col .dataBox__row:hover span {
  color: #ffa751;
}

.mm0103__dataBox .dataBox__body .dataBox__col .dataBox__row span.data__info {
  line-height: 1.3;
  color: #535353;
}

.mm0103__dataBox .dataBox__body .dataBox__col .dataBox__row span.data__icon {
  margin-right: 20px;
}
