.mm0103__dataBox {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.dataBox__body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.mm0103__dataBox .dataBox__row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 17px;
}

.mm0103__dataBox .dataBox__row .dataBox__col {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mm0103__dataBox .dataBox__row .dataBox__col span.data__icon {
  margin-left: 20px;
}

.mm0103__dataBox .dataBox__row .dataBox__col .profile__img {
  width: 100px;
  height: 100px;
}

.mm0103__dataBox .dataBox__row .dataBox__col:first-child {
  width: 200px;
  text-indent: 10px;
}
