.mm0101__left {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.mm0101__left > * {
  margin-top: 40px;
  margin-bottom: 50px;
}

.mm0101__left .mm0101__left__col1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mm0101__left__col2 {
  padding-bottom: 15px;
}

.mm0101__left .mm0101__left__col1 span:nth-child(1) {
  font-size: 22px;
  text-shadow: 2px 2px 2px #d2dae2;
  margin: 5px;
}

.mm0101__left .mm0101__left__col1 span:nth-child(2) {
  font-size: 12px;
  color: #353535;
  text-shadow: 2px 2px 2px #d2dae2;
  border-bottom: 1px solid #353535;
  padding: 5px;
}

.mm0101__left .mm0101__left__col3__row3 {
  display: none;
}

.mm0101__left .mm0101__left__col3__row1,
.mm0101__left .mm0101__left__col3__row2 {
  padding: 5px 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #353535;
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.mm0101__left .mm0101__left__col3__row1 span:nth-child(1),
.mm0101__left .mm0101__left__col3__row2 span:nth-child(1) {
  font-weight: 600;
  text-shadow: 1px 1px 1px rgba(53, 53, 53, 0.4);
}

.mm0101__left .mm0101__left__col3__row1 span:nth-child(2),
.mm0101__left .mm0101__left__col3__row2 span:nth-child(2) {
  font-size: 14px;
  color: #353535;
  text-shadow: 2px 2px 2px #d2dae2;
  width: 60px;
}

.mc__col2__desc {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.mm0101__dataBox:nth-child(2n) {
  margin: 10px auto;
  width: 600px;
  min-width: 500px;
  height: 70px;
  border-left: 5px solid #ffa751;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: 3px 3px 12px Rgb(53, 53, 53, 0.1);
}

.mm0101__dataBox:nth-child(2n + 1) {
  margin: 10px auto;
  width: 600px;
  min-width: 500px;
  height: 70px;
  border-left: 5px solid #ffe259;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: 3px 3px 12px Rgb(53, 53, 53, 0.1);
}

.mm0101__dataBox div {
  height: 70px;
  line-height: 70px;
  text-align: center;
  width: 20%;
  margin-left: 10px;
  border-left: 1px solid #f1f1f1;
}

.mm0101__dataBox div:first-child {
  border: 3px solid #353535;
  padding: 5px;
  border-radius: 50px;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  font-weight: bold;
}
