.dataInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #ffa751;
}

.dataInfo div:first-child {
  font-weight: 600;
  color: #000090;
}

.dataSubInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.dataSubInfo div:first-child span {
  font-weight: bold;
}

.dataSubInfo div:first-child {
  color: #535353;
  font-weight: normal;
}

.dataSubInfo > div:nth-child(2) {
  background-color: #5353531d;
  padding: 5px 10px;
  font-size: 14px;
  margin-left: 50px;
}

.annualTbody {
  min-height: 250px;
}

.annualTb > td {
  text-align: center;
}

.usedList {
  position: absolute;
  bottom: 20px;
  right: 20px;
  text-align: center;
}

/* 연차 사용신청 FormDialog*/
.usageSubTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.usageDays {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.usageStartEnd {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.applicationReason {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.annualSettlement {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

/* 사용연차 리스트 FormDialog*/
