.project-info {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.project-info .project-info__box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.project-info .project-info__box div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 3;
}

.project-info .project-info__box div:nth-child(2n + 1) {
  width: 150px;
  min-width: 110px;
  border-right: 1px solid #dedede;
  font-size: 14px;
  font-weight: 600;
}

.project-info .project-info__box div:nth-child(2n) {
  width: 330px;
  min-width: 180px;
  margin-left: 30px;
  font-size: 14px;
  color: rgba(53, 53, 53, 1);
}

.project-info .saperator-line {
  margin: 0px 0px;
  width: 100%;
  height: 4px;
  background-color: #3f5ffda3;
}

.project-info-main {
  width: 100%;
  min-width: 500px;
}

.mm-add {
  text-align: right;
}

.mm-add button {
  padding: 0 10px;
  background-color: #535353;
  color: #fff;
}

.mm-add button:hover {
  background-color: #535353;
  color: #ffe259;
}

.workList-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  font-size: 13px;
}

.workList-main:first-child {
  border-bottom: 1px solid #dedede;
  font-weight: 600;
}

.workList-main-box {
  width: calc(100% + 14px);
  height: 300px;
  min-height: 300px;
}

.workList-main-box .workList-main:first-child {
  border: none;
  font-weight: normal;
}

.workList-main-box .workList-main li {
  margin-right: 25px;
}

.workList-main-box .workList-main li:first-child {
  width: 40px;
  min-width: 30px;
  text-align: center;
}

.workList-main-box .workList-main li:nth-child(2) {
  width: 240px;
  min-width: 200px;
  text-align: left;
}

.workList-main-box .workList-main li:nth-child(n + 3):nth-child(-n + 5) {
  width: 65px;
  min-width: 50px;
  text-align: left;
}

.workList-main-box .workList-main li:nth-child(6) {
  width: 100px;
  min-width: 100px;
  text-align: left;
}

.workList-main-box .workList-main li:nth-child(7) {
  width: 70px;
  min-width: 60px;
  text-align: center;
}

.workList-main-box .workList-main li:nth-child(n + 8):nth-child(-n + 9) {
  width: 50px;
  min-width: 50px;
  text-align: center;
}

.workList-main-box .workList-main li:last-child .far {
  color: #e45856;
  cursor: pointer;
}

.workList-main-box .workList-main li:last-child .far:hover {
  color: #bf1310;
}

.workList-main-box .workList-main li .progress {
  background-color: transparent;
  color: #eb4d4b;
  border: 1px solid #eb4d4b;
  font-weight: 600;
  cursor: pointer;
}
.workList-main-box .workList-main li .progress:hover {
  background-color: #eb4e4b1a;
}

.workList-main-box .workList-main li .complete {
  color: #00157e;
  font-weight: 600;
}

.clientBlock {
  display: flex;
  flex-direction: row;
}
